div#contenedor{
  background-color: #643146;
  width: 1340px;
  height: 915px;
  margin: auto;
}
div#atras{
  background-color: #4D1610;
  width: 75px;
  height: 75px;
  margin: 20px;
  display: flex; /*Centra el contenido de la div*/
  justify-content: center;
  align-items: center;
}
div#titOrd{
  background-color: #4D1610;
  width: 1205px;
  height: 75px;
  margin: -95px 20px 0px 115px;
  display: flex; /*Centra el contenido de la div*/
  justify-content: center;
  align-items: center;
}
div#ordenes{
  background-color: #F06426;
  width: 1300px;
  height: 800px;
  margin: 20px 20px 20px 20px;
  display: flex; /*Centra el contenido de la div en fila*/
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

img.ordImg{  /*Se modifican los atributos de las imagenes de la clase ordImg*/
  width: 300px;
  height: 168px;
  margin: 20px 0px 0px 10px;
}
img.ordImg:hover{  /*Se modifican los atributos de las imagenes de la clase ordImg al pasar el cursor encima*/
  width: 300px;
  height: 175px;
}
figure{ /*Se modifican los atributos de figure*/
  margin: 0px;
}
figcaption{ /*Se modifican los atributos de figcaption*/
  margin: 0px 0px 0px 10px;
}
h1{ /*Se modifican los atributos de h1*/
  color: red;
}
h3{ /*Se modifican los atributos de h3*/
  color: red;
}
